<div id="didc-ac" class="i-widget i-icon" style="left: <%= left %>; top: <%= top %>; width: <%= width %>; height: <%= height %>">
    <div id="i-icon-ac" class="i-panel i-icon-content">
        <div class="i-img i-img-src"></div>
        <div class="i-img i-img-mask"></div>
        <div class="i-text"><%= title %></div>
    </div>
</div>