<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= title %></title>

    <!-- by shkoh 20230824: style normalize -->
    <link rel="stylesheet" href="/component/normalize/normalize.css"/>
    
    <!-- by shkoh 20230504: 공통 css -->
    <link rel="stylesheet" href="/component/kendoui-2021.1.119/styles/kendo.common.min.css"/>
    <link rel="stylesheet" href="/component/kendoui-2021.1.119/styles/kendo.common-bootstrap.min.css" />
    <link rel="stylesheet" href="/component/kendoui-2021.1.119/styles/kendo.bootstrap.min.css" />
    
    <link rel="stylesheet" href="/component/bootstrap-3.3.5-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/component/bootstrap-3.3.5-dist/css/bootstrap-theme.min.css" />
    
    <link rel="stylesheet" href="/component/jquery-ui-1.12.1/jquery-ui.min.css" />

    <!-- by shkoh 20230504: custom scrollber -->
    <link rel="stylesheet" href="/component/mCustomScrollbar/jquery.mCustomScrollbar.min.css" />
    
    <!-- by shkoh 20230504: zTree -->
    <link rel="stylesheet" href="/component/zTree_v3.5.23/css/zTreeStyle/zTreeStyle.css" />

    <!-- by shkoh 20230504: cytoscape  -->
    <link rel="stylesheet" href="/component/jquery-qtip-3.0.3/jquery.qtip.min.css" />

    <!-- by shkoh 20230504: ubiGuard -->
    <link rel="stylesheet" href="/stylesheets/fonts.css"/>
    <link rel="stylesheet" href="/stylesheets/didc/dashboard.css"/>
</head>
<body data="<%= type %>">
    <%- include('./temphumi', { left: '1vw', top: '2vh', width: '48.5vw', height: '18vh' }) %>
    <%- include('./containment', { left: '50.5vw', top: '2vh', width: '48.5vw', height: '18vh' }) %>

    <%- include('./icon_ac', { left: '34vw', top: '22vh', width: '15.5vw', height: '42vh', title: site === 'didc1' ? '공조' : '기계' }) %>
    <%- include('./icon_elec', { left: '50.5vw', top: '22vh', width: '15.5vw', height: '42vh' }) %>
    <%- include('./icon_hvac', { left: '17.5vw', top: '22vh', width: '15.5vw', height: '20vh' }) %>
    <%- include('./icon_temphumi', { left: '17.5vw', top: '44vh', width: '15.5vw', height: '20vh' }) %>
    <%- include('./icon_wind', { left: '1vw', top: '44vh', width: '15.5vw', height: '20vh' }) %>
    <%- include('./icon_rack', { left: '67vw', top: '44vh', width: '15.5vw', height: '20vh' }) %>
    <%- include('./icon_distribute_panel', { left: '67vw', top: '22vh', width: '15.5vw', height: '20vh' }) %>

    <%- include('./hvac_run_state', { left: '1vw', top: '22vh', width: '15.5vw', height: '20vh' }) %>

    <%- include('./pue', { left: '83.5vw', top: '44vh', width: '15.5vw', height: '20vh' }) %>
    <%- include('./power', { left: '83.5vw', top: '22vh', width: '15.5vw', height: '20vh' }) %>

    <%- include('./leak', { left: '1vw', top: '66vh', width: '32vw', height: '14vh' }) %>
    <%- include('./ups', { left: '34vw', top: '66vh', width: '32vw', height: '14vh', aa_column: site === 'didc1' ? 5 : 4, bb_column: site === 'didc1' ? 5 : 4, aa_length: site === 'didc1' ? 5 : 4, bb_length: 4 }) %>
    <%- include('./battery', { left: '67vw', top: '66vh', width: '32vw', height: '14vh', aa_column: site === 'didc1' ? 5 : 4, bb_column: site === 'didc1' ? 5 : 4, aa_length: site === 'didc1' ? 5 : 4, bb_length: 4 }) %>
    

    <%- include('./alert', { left: '17.5vw', top: '82vh', width: '65vw', height: '16vh' }) %>
    <%- include('./icon_fire', { left: '83.5vw', top: '82vh', width: '15.5vw', height: '16vh' }) %>
    <%- include('./clock', { left: '1vw', top: '87vh', width: '15.5vw', height: '8vh' }) %>
    
    <!-- by shkoh 20230504: 공통 js -->
    <script src="/component/kendoui-2021.1.119/js/jquery.min.js"></script>
    <script src="/component/kendoui-2021.1.119/js/kendo.all.min.js"></script>
    
    <script src="/component/jquery-3.3.1/jquery.session.js"></script>
    
    <script src="/component/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
    
    <script src="/component/promise-polyfill/promise-polyfill.js"></script>

    <!-- by shkoh 20230504: custom scrollbar -->
    <script src="/component/mCustomScrollbar/jquery.mousewheel.min.js"></script>
    <script src="/component/mCustomScrollbar/jquery.mCustomScrollbar.js"></script>

    <!-- by shkoh 20230504: zTree -->
    <script src="/component/zTree_v3.5.23/js/jquery.ztree.core.min.js"></script>
    <script src="/component/zTree_v3.5.23/js/jquery.ztree.excheck.min.js"></script>

    <!-- by shkoh 20230504: cytoscape  -->
    <script src="/component/jquery-qtip-3.0.3/jquery.qtip.min.js"></script>
    <script src="/component/cytoscape-3.2.12/cytoscape.js"></script>
    <script src="/component/cytoscape-3.2.12/cytoscape-qtip.js"></script>
    <script src="/component/cytoscape-3.2.12/cytoscape-cxtmenu.js"></script>
    <script src="/component/cytoscape-3.2.12/cytoscape-node-html-label.min.js"></script>

    <!-- by shkoh 20230504: ubiGuard -->
    <script src="/javascripts/customizing/didc/dashboard/main.js"></script>

<%if(grade != 'USR00') {%>
    <script>
        $(function() {
            initTimeout();
        });

        function initTimeout() {
            const timer = setInterval(function() {
                loadDataValue();
                loadContainment();
            }, 10000);
        }
    </script>
<%}%>
</body>
</html>