<div class="i-widget i-pue" style="left: <%= left %>; top: <%= top %>; width: <%= width %>; height: <%= height %>">
    <div id="i-pue" class="i-title">PUE</div>
    <div class="i-contents" style="height: calc(<%= height%> - 35px);">
        <div id="didc-pue" style="width: 80%; height: 100%;"></div>
    </div>
</div>