<div class="i-widget i-temphumi-panel" style="left: <%= left %>; top: <%= top %>; width: <%= width %>; height: <%= height %>">
    <%- include('./temphumi_item.ejs', { id: 'i-temphumi-1', title: '', temp: '', humi: '' }) %>
    <%- include('./temphumi_item.ejs', { id: 'i-temphumi-2', title: '', temp: '', humi: '' }) %>
    <%- include('./temphumi_item.ejs', { id: 'i-temphumi-3', title: '', temp: '', humi: '' }) %>
    <%- include('./temphumi_item.ejs', { id: 'i-temphumi-4', title: '', temp: '', humi: '' }) %>
    <%- include('./temphumi_item.ejs', { id: 'i-temphumi-5', title: '', temp: '', humi: '' }) %>
</div>