<div class="i-widget i-load-factor" id="<%= object_id %>" style="left: <%= left %>; top: <%= top %>">
    <div class="i-load-field <%= type %>">
    </div>
    <div class="i-load-gauge">
    </div>
    <div class="i-load-icon <%= type %>">
    </div>
    <div class="i-load-text">
        <span class="i-load-value"> - </span><span class="i-unit">%</span>
    </div>
</div>