<div class="i-widget i-panel-icon" id="<%= object_id %>" style="left: <%= left %>; top: <%= top %>" title="<%= tooltip %>">
    <div class="i-panel">
        <div class="i-field">
            <div class="i-panel-text">
                <%= title %>
            </div>
        </div>
        <div class="i-field">
            <div class="i-panel-icon-key">
                R
            </div>
            <div class="i-panel-icon-text">
                <span class="panel-r"> - </span><span class="i-unit">V</span>
            </div>
        </div>
        <div class="i-field">
            <div class="i-panel-icon-key">
                S
            </div>
            <div class="i-panel-icon-text">
                <span class="panel-s"> - </span><span class="i-unit">V</span>
            </div>
        </div>
        <div class="i-field">
            <div class="i-panel-icon-key">
                T
            </div>
            <div class="i-panel-icon-text">
                <span class="panel-t"> - </span><span class="i-unit">V</span>
            </div>
        </div>
        <div class="i-field">
            <div class="i-panel-icon-text">
                <span class="panel-kw"> - </span><span class="i-unit">kW</span>
            </div>
        </div>
    </div>
</div>