<div class="i-widget i-th-icon" id="<%= object_id %>" style="left: <%= left %>; top: <%= top %>" title="<%= tooltip %>">
    <div class="i-panel">
        <div class="i-field">
            <div class="i-th-text">
                <%= title %>
            </div>
        </div>
        <div class="i-field">
            <div class="i-th-icon-text temp">
                <span class="temp"> - </span><span class="i-unit">℃</span>
            </div>
        </div>
        <div class="i-field">
            <div class="i-th-icon-text humi">
                <span class="humi"> - </span><span class="i-unit">%</span>
            </div>
        </div>
    </div>
</div>