<div class="i-widget <%= class_name %>" id="<%= object_id %>" style="left: <%= left %>; top: <%= top %>">
    <span><%= label %> 정상범위 : </span> <span class="i-threshold-min"> - </span><span class="i-title-threshold-unit"><%= unit %></span> ~ <span class="i-threshold-max"> - </span><span class="i-title-threshold-unit"><%= unit %></span>
</div>