<li class="list-group-item" data="<%= object_id %>">
    <div class="btn-group custom-btn-group" role="group">
        <button class="btn btn-default custom-btn custom-link-set" type="button"><%= link_text %></button>
        <button class="btn btn-default custom-btn custom-link-clear" type="button"><%= clear_text %></button>
        <button class="btn btn-default custom-btn custom-link-popup" type="button"><%= popup_text %></button>
    </div>
    <span class="obj-name"><%= object_name %></span><span class="is-popup"><%= is_popup %></span>
</li>