<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <title><%= title %></title>

    <!-- by shkoh 20211228: 공통 css -->
    <link rel="stylesheet" href="/component/kendoui-2021.1.119/styles/kendo.common.min.css" />
    <link rel="stylesheet" href="/component/kendoui-2021.1.119/styles/kendo.common-bootstrap.min.css" />
    <link rel="stylesheet" href="/component/kendoui-2021.1.119/styles/kendo.bootstrap.min.css" />
    
    <link rel="stylesheet" href="/component/bootstrap-3.3.5-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/component/bootstrap-3.3.5-dist/css/bootstrap-theme.min.css" />
    
    <link rel="stylesheet" href="/component/jquery-ui-1.12.1/jquery-ui.min.css" />

    <!-- by shkoh 20211228: custom scrollber -->
    <link rel="stylesheet" href="/component/mCustomScrollbar/jquery.mCustomScrollbar.min.css" />
    
    <!-- by shkoh 20211228: zTree -->
    <link rel="stylesheet" href="/component/zTree_v3.5.23/css/zTreeStyle/zTreeStyle.css" />

    <!-- by shkoh 20211228: cytoscape  -->
    <link rel="stylesheet" href="/component/jquery-qtip-3.0.3/jquery.qtip.min.css" />

    <!-- by shkoh 20211228: ubiGuard -->
    <link rel="stylesheet" href="/stylesheets/fonts.css" />
    <link rel="stylesheet" href="/stylesheets/didc/diagram.css" />
</head>
<body data="<%= type %>">    
    <div id="map" data="<%= type %>">
        <div id="cytoscape" tabindex="0"></div>
        <div id="qtip-container"></div>

<%if(image != '') {%>
        <div id="img" class="<%= type %>" style="background-image: url('<%=image%>');"></div>
<%}%>

<%if(grade === 'USR00') {%>
        <div>
            <button id="fab"></button>
        </div>
<%}%>

        <div class="navigation">
            <div class="label label-primary"><%= typeName %></div>
        </div>

        <div id="i-edge-setting-mode" style="display: none;">
            <div class="i-text">Edge 설정모드</div>
        </div>

        <div id="i-modal-panel-info">
            <div class="i-header">
                <div class="i-title">-</div>
                <div class="i-update-time">-</div>
            </div>
            <div class="i-body">
                <div class="i-line-voltages">
                    <div class="i-line-voltage">
                        <div class="i-header r">R-S</div>
                        <div class="i-value rs">
                            <span class="i-val">-</span>
                            <span class="i-unit">-</span>
                        </div>
                    </div>
                    <div class="i-line-voltage">
                        <div class="i-header s">S-T</div>
                        <div class="i-value st">
                            <span class="i-val">-</span>
                            <span class="i-unit">-</span>
                        </div>
                    </div>
                    <div class="i-line-voltage">
                        <div class="i-header t">T-R</div>
                        <div class="i-value tr">
                            <span class="i-val">-</span>
                            <span class="i-unit">-</span>
                        </div>
                    </div>
                </div>
                <div class="i-amperes">
                    <div class="i-ampere">
                        <div class="i-header r">R</div>
                        <div class="i-value r">
                            <span class="i-val">-</span>
                            <span class="i-unit">-</span>
                        </div>
                    </div>
                    <div class="i-ampere">
                        <div class="i-header s">S</div>
                        <div class="i-value s">
                            <span class="i-val">-</span>
                            <span class="i-unit">-</span>
                        </div>
                    </div>
                    <div class="i-ampere">
                        <div class="i-header t">T</div>
                        <div class="i-value t">
                            <span class="i-val">-</span>
                            <span class="i-unit">-</span>
                        </div>
                    </div>
                </div>
                <div class="i-seperator"></div>
                <div class="i-digits">
                    <div class="i-digit">
                        <div class="i-mode">-</div>
                    </div>
                    <div class="i-digit">
                        <div class="i-breaker">-</div>
                    </div>
                    <div class="i-digit">
                        <div class="i-ocr"></div>
                    </div>
                </div>
            </div>
            <div class="i-bottom">
                <div class="i-contents w">
                    <div class="i-value">
                        <span class="i-val">-</span>
                        <span class='i-unit'>-</span>
                    </div>
                </div>
                <div class="i-contents wh">
                    <div class="i-value">
                        <span class="i-val">-</span>
                        <span class='i-unit'>-</span>
                    </div>
                </div>
                <div class="i-contents pf">
                    <div class="i-value">
                        <span class="i-val">-</span>
                        <span class='i-unit'>-</span>
                    </div>
                </div>
                <div class="i-contents hz">
                    <div class="i-value">
                        <span class="i-val">-</span>
                        <span class='i-unit'>-</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="i-modal-tr-info">
            <div class="i-header">
                <div class="i-title"></div>
                <div class="i-update-time"></div>
            </div>
            <div class="i-body">
                <div class="i-temperature">
                    <div class="i-value">
                        <span class="i-val"></span>
                        <span class="i-unit"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%if(grade === 'USR00') {%>
    <input id="file-upload" name="files" type="file" style="display: none;"/>
<%}%>
    
    <!-- by shkoh 20211228: 공통 js -->
    <script src="/component/lodash/lodash.js"></script>
    <script src="/component/kendoui-2021.1.119/js/jquery.min.js"></script>
    <script src="/component/kendoui-2021.1.119/js/kendo.all.min.js"></script>
    
    <script src="/component/jquery-3.3.1/jquery.session.js"></script>
    
    <script src="/component/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
    
    <script src="/component/promise-polyfill/promise-polyfill.js"></script>

    <!-- by shkoh 20211228: custom scrollbar -->
    <script src="/component/mCustomScrollbar/jquery.mousewheel.min.js"></script>
    <script src="/component/mCustomScrollbar/jquery.mCustomScrollbar.js"></script>

    <!-- by shkoh 20211228: zTree -->
    <script src="/component/zTree_v3.5.23/js/jquery.ztree.core.min.js"></script>
    <script src="/component/zTree_v3.5.23/js/jquery.ztree.excheck.min.js"></script>

    <!-- by shkoh 20211228: cytoscape  -->
    <script src="/component/jquery-qtip-3.0.3/jquery.qtip.min.js"></script>
    <script src="/component/cytoscape-3.23.0/cytoscape.min.js"></script>
    <script src="/component/cytoscape-3.23.0/cytoscape-qtip.js"></script>
    <script src="/component/cytoscape-3.23.0/cytoscape-cxtmenu.js"></script>
    <script src="/component/cytoscape-3.23.0/cytoscape-node-html-label.min.js"></script>
    <script src="/component/cytoscape-3.23.0/cytoscape-edgehandles.js"></script>
    
    <!-- by shkoh 20230807: ubiGuard -->
    <script src="/javascripts/customizing/didc/power/items.js"></script>
    <script src="/javascripts/customizing/didc/power/main.js"></script>

<%if(grade != 'USR00') {%>
    <script>
        $(function() {
            initTimeout();
        });

        function initTimeout() {
            const timer = setInterval(function() {
                loadItems();
            }, 5000);
        }
    </script>
<%}%>
</body>
</html>