<div class="custom-panel">
    <div class="custom-panel-zone">
        <ul class="list-group">
            <%- include('./item_li', { object_id: 'outer_temp', object_name: '외기온도', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'outer_humi', object_name: '외기습도', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
</div>
<div class="custom-panel">
    <div class="custom-panel-zone">
        <ul class="list-group">
            <%- include('./item_li', { object_id: 'b5f_temp', object_name: 'B5F 온도평균', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
            <%- include('./item_li', { object_id: 'b5f_humi', object_name: 'B5F 습도평균', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <%- include('./item_li', { object_id: 'a_2f_temp', object_name: '2F-A 온도평균', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
            <%- include('./item_li', { object_id: 'a_2f_humi', object_name: '2F-A 습도평균', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <%- include('./item_li', { object_id: 'a_3f_temp', object_name: '3F-A 온도평균', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
            <%- include('./item_li', { object_id: 'a_3f_humi', object_name: '3F-A 습도평균', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <%- include('./item_li', { object_id: 'a_4f_temp', object_name: '4F-A 온도평균', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
            <%- include('./item_li', { object_id: 'a_4f_humi', object_name: '4F-A 습도평균', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <%- include('./item_li', { object_id: 'a_6f_temp', object_name: '6F-A 온도평균', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
            <%- include('./item_li', { object_id: 'a_6f_humi', object_name: '6F-A 습도평균', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <%- include('./item_li', { object_id: 'a_7f_temp', object_name: '7F-A 온도평균', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
            <%- include('./item_li', { object_id: 'a_7f_humi', object_name: '7F-A 습도평균', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <%- include('./item_li', { object_id: 'a_8f_temp', object_name: '8F-A 온도평균', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
            <%- include('./item_li', { object_id: 'a_8f_humi', object_name: '8F-A 습도평균', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <%- include('./item_li', { object_id: 'avg_temp', object_name: '항온항습기 온도평균', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
        </ul>
    </div>
</div>
<div class="custom-panel">
    <div class="custom-panel-zone">
        <ul class="list-group">
            <%- include('./item_li', { object_id: '1f_temp', object_name: '1F 온도평균', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
            <%- include('./item_li', { object_id: '1f_humi', object_name: '1F 습도평균', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <%- include('./item_li', { object_id: 'b_2f_temp', object_name: '2F-B 온도평균', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
            <%- include('./item_li', { object_id: 'b_2f_humi', object_name: '2F-B 습도평균', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <%- include('./item_li', { object_id: 'b_3f_temp', object_name: '3F-B 온도평균', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
            <%- include('./item_li', { object_id: 'b_3f_humi', object_name: '3F-B 습도평균', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <%- include('./item_li', { object_id: 'b_4f_temp', object_name: '4F-B 온도평균', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
            <%- include('./item_li', { object_id: 'b_4f_humi', object_name: '4F-B 습도평균', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <%- include('./item_li', { object_id: 'b_6f_temp', object_name: '6F-B 온도평균', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
            <%- include('./item_li', { object_id: 'b_6f_humi', object_name: '6F-B 습도평균', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <%- include('./item_li', { object_id: 'b_7f_temp', object_name: '7F-B 온도평균', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
            <%- include('./item_li', { object_id: 'b_7f_humi', object_name: '7F-B 습도평균', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <%- include('./item_li', { object_id: 'b_8f_temp', object_name: '8F-B 온도평균', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
            <%- include('./item_li', { object_id: 'b_8f_humi', object_name: '8F-B 습도평균', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <%- include('./item_li', { object_id: 'avg_humi', object_name: '항온항습기 습도평균', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
        </ul>
    </div>
</div>
<div class="custom-panel">
    <div class="custom-panel-zone">
        <ul class="list-group">
            <%- include('./item_li', { object_id: 'a_8_1', object_name: '8F-A 01', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'a_8_2', object_name: '8F-A 02', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'a_8_3', object_name: '8F-A 03', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'a_8_4', object_name: '8F-A 04', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'a_8_5', object_name: '8F-A 05', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'a_8_6', object_name: '8F-A 06', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'a_8_7', object_name: '8F-A 07', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'a_8_8', object_name: '8F-A 08', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <%- include('./item_li', { object_id: 'a_7_1', object_name: '7F-A 01', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'a_7_2', object_name: '7F-A 02', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'a_7_3', object_name: '7F-A 03', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'a_7_4', object_name: '7F-A 04', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'a_7_5', object_name: '7F-A 05', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'a_7_6', object_name: '7F-A 06', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'a_7_7', object_name: '7F-A 07', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'a_7_8', object_name: '7F-A 08', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <%- include('./item_li', { object_id: 'a_6_1', object_name: '6F-A 01', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'a_6_2', object_name: '6F-A 02', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'a_6_3', object_name: '6F-A 03', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'a_6_4', object_name: '6F-A 04', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'a_6_5', object_name: '6F-A 05', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'a_6_6', object_name: '6F-A 06', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'a_6_7', object_name: '6F-A 07', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'a_6_8', object_name: '6F-A 08', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <%- include('./item_li', { object_id: 'a_4_1', object_name: '4F-A 01', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'a_4_2', object_name: '4F-A 02', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'a_4_3', object_name: '4F-A 03', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'a_4_4', object_name: '4F-A 04', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'a_4_5', object_name: '4F-A 05', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'a_4_6', object_name: '4F-A 06', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'a_4_7', object_name: '4F-A 07', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'a_4_8', object_name: '4F-A 08', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <%- include('./item_li', { object_id: 'a_3_1', object_name: '3F-A 01', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'a_3_2', object_name: '3F-A 02', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'a_3_3', object_name: '3F-A 03', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'a_3_4', object_name: '3F-A 04', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'a_3_5', object_name: '3F-A 05', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'a_3_6', object_name: '3F-A 06', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'a_3_7', object_name: '3F-A 07', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'a_3_8', object_name: '3F-A 08', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <%- include('./item_li', { object_id: 'a_2_1', object_name: '2F-A 01', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'a_2_2', object_name: '2F-A 02', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'a_2_3', object_name: '2F-A 03', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'a_2_4', object_name: '2F-A 04', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'a_2_5', object_name: '2F-A 05', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'a_2_6', object_name: '2F-A 06', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'a_2_7', object_name: '2F-A 07', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'a_2_8', object_name: '2F-A 08', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <%- include('./item_li', { object_id: 'a_1_1', object_name: '1F-A 01', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'a_1_2', object_name: '1F-A 02', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'a_1_3', object_name: '1F-A 03', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'a_1_4', object_name: '1F-A 04', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'a_1_5', object_name: '1F-A 05', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'a_1_6', object_name: '1F-A 06', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'a_1_7', object_name: '1F-A 07', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'a_1_8', object_name: '1F-A 08', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <%- include('./item_li', { object_id: 'a_-5_1', object_name: 'B5F-A 01', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'a_-5_2', object_name: 'B5F-A 02', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'a_-5_3', object_name: 'B5F-A 03', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'a_-5_4', object_name: 'B5F-A 04', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'a_-5_5', object_name: 'B5F-A 05', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'a_-5_6', object_name: 'B5F-A 06', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'a_-5_7', object_name: 'B5F-A 07', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'a_-5_8', object_name: 'B5F-A 08', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
</div>
<div class="custom-panel">
    <div class="custom-panel-zone">
        <ul class="list-group">
            <%- include('./item_li', { object_id: 'b_8_1', object_name: '8F-B 01', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'b_8_2', object_name: '8F-B 02', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'b_8_3', object_name: '8F-B 03', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'b_8_4', object_name: '8F-B 04', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'b_8_5', object_name: '8F-B 05', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'b_8_6', object_name: '8F-B 06', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'b_8_7', object_name: '8F-B 07', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'b_8_8', object_name: '8F-B 08', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <%- include('./item_li', { object_id: 'b_7_1', object_name: '7F-B 01', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'b_7_2', object_name: '7F-B 02', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'b_7_3', object_name: '7F-B 03', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'b_7_4', object_name: '7F-B 04', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'b_7_5', object_name: '7F-B 05', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'b_7_6', object_name: '7F-B 06', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'b_7_7', object_name: '7F-B 07', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'b_7_8', object_name: '7F-B 08', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <%- include('./item_li', { object_id: 'b_6_1', object_name: '6F-B 01', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'b_6_2', object_name: '6F-B 02', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'b_6_3', object_name: '6F-B 03', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'b_6_4', object_name: '6F-B 04', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'b_6_5', object_name: '6F-B 05', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'b_6_6', object_name: '6F-B 06', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'b_6_7', object_name: '6F-B 07', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'b_6_8', object_name: '6F-B 08', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <%- include('./item_li', { object_id: 'b_4_1', object_name: '4F-B 01', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'b_4_2', object_name: '4F-B 02', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'b_4_3', object_name: '4F-B 03', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'b_4_4', object_name: '4F-B 04', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'b_4_5', object_name: '4F-B 05', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'b_4_6', object_name: '4F-B 06', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'b_4_7', object_name: '4F-B 07', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'b_4_8', object_name: '4F-B 08', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <%- include('./item_li', { object_id: 'b_3_1', object_name: '3F-B 01', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'b_3_2', object_name: '3F-B 02', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'b_3_3', object_name: '3F-B 03', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'b_3_4', object_name: '3F-B 04', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'b_3_5', object_name: '3F-B 05', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'b_3_6', object_name: '3F-B 06', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'b_3_7', object_name: '3F-B 07', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'b_3_8', object_name: '3F-B 08', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <%- include('./item_li', { object_id: 'b_2_1', object_name: '2F-B 01', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'b_2_2', object_name: '2F-B 02', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'b_2_3', object_name: '2F-B 03', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'b_2_4', object_name: '2F-B 04', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'b_2_5', object_name: '2F-B 05', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'b_2_6', object_name: '2F-B 06', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'b_2_7', object_name: '2F-B 07', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'b_2_8', object_name: '2F-B 08', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <%- include('./item_li', { object_id: 'b_1_1', object_name: '1F-B 01', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'b_1_2', object_name: '1F-B 02', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'b_1_3', object_name: '1F-B 03', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'b_1_4', object_name: '1F-B 04', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'b_1_5', object_name: '1F-B 05', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'b_1_6', object_name: '1F-B 06', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'b_1_7', object_name: '1F-B 07', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'b_1_8', object_name: '1F-B 08', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <%- include('./item_li', { object_id: 'b_-5_1', object_name: 'B5F-B 01', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'b_-5_2', object_name: 'B5F-B 02', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'b_-5_3', object_name: 'B5F-B 03', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'b_-5_4', object_name: 'B5F-B 04', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'b_-5_5', object_name: 'B5F-B 05', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'b_-5_6', object_name: 'B5F-B 06', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'b_-5_7', object_name: 'B5F-B 07', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'b_-5_8', object_name: 'B5F-B 08', link_text: '연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
</div>
<div class="custom-panel">
    <div class="custom-panel-zone">
        <ul class="list-group">
            <%- include('./item_li', { object_id: 'floor_8', object_name: '8F 이동', link_text: '그룹연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <%- include('./item_li', { object_id: 'floor_7', object_name: '7F 이동', link_text: '그룹연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <%- include('./item_li', { object_id: 'floor_6', object_name: '6F 이동', link_text: '그룹연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <%- include('./item_li', { object_id: 'floor_4', object_name: '4F 이동', link_text: '그룹연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <%- include('./item_li', { object_id: 'floor_3', object_name: '3F 이동', link_text: '그룹연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <%- include('./item_li', { object_id: 'floor_2', object_name: '2F 이동', link_text: '그룹연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <%- include('./item_li', { object_id: 'floor_1', object_name: '1F 이동', link_text: '그룹연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <%- include('./item_li', { object_id: 'floor_b5', object_name: 'B5F 이동', link_text: '그룹연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
</div>