<div class="custom-panel">
    <div class="custom-panel-zone">
        <ul class="list-group custom-th-list-group">
            <%- include('./item_li', { object_id: 'a_2f_temp', object_name: '2F-A 온도평균', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
            <%- include('./item_li', { object_id: 'a_2f_humi', object_name: '2F-A 습도평균', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
            <%- include('./item_li', { object_id: 'b_2f_temp', object_name: '2F-B 온도평균', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
            <%- include('./item_li', { object_id: 'b_2f_humi', object_name: '2F-B 습도평균', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group custom-th-list-group">
            <%- include('./item_li', { object_id: 'a_3f_temp', object_name: '3F-A 온도평균', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
            <%- include('./item_li', { object_id: 'a_3f_humi', object_name: '3F-A 습도평균', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
            <%- include('./item_li', { object_id: 'b_3f_temp', object_name: '3F-B 온도평균', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
            <%- include('./item_li', { object_id: 'b_3f_humi', object_name: '3F-B 습도평균', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group custom-th-list-group">
            <%- include('./item_li', { object_id: 'a_4f_temp', object_name: '4F-A 온도평균', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
            <%- include('./item_li', { object_id: 'a_4f_humi', object_name: '4F-A 습도평균', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
            <%- include('./item_li', { object_id: 'b_4f_temp', object_name: '4F-B 온도평균', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
            <%- include('./item_li', { object_id: 'b_4f_humi', object_name: '4F-B 습도평균', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group custom-th-list-group">
            <%- include('./item_li', { object_id: 'a_6f_temp', object_name: '6F-A 온도평균', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
            <%- include('./item_li', { object_id: 'a_6f_humi', object_name: '6F-A 습도평균', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
            <%- include('./item_li', { object_id: 'b_6f_temp', object_name: '6F-B 온도평균', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
            <%- include('./item_li', { object_id: 'b_6f_humi', object_name: '6F-B 습도평균', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group custom-th-list-group">
            <%- include('./item_li', { object_id: 'a_7f_temp', object_name: '7F-A 온도평균', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
            <%- include('./item_li', { object_id: 'a_7f_humi', object_name: '7F-A 습도평균', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
            <%- include('./item_li', { object_id: 'b_7f_temp', object_name: '7F-B 온도평균', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
            <%- include('./item_li', { object_id: 'b_7f_humi', object_name: '7F-B 습도평균', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group custom-th-list-group">
            <%- include('./item_li', { object_id: 'a_8f_temp', object_name: '8F-A 온도평균', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
            <%- include('./item_li', { object_id: 'a_8f_humi', object_name: '8F-A 습도평균', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
            <%- include('./item_li', { object_id: 'b_8f_temp', object_name: '8F-B 온도평균', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
            <%- include('./item_li', { object_id: 'b_8f_humi', object_name: '8F-B 습도평균', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group custom-th-list-group">
            <%- include('./item_li', { object_id: 'avg_temp', object_name: '전체 온도평균', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
            <%- include('./item_li', { object_id: 'avg_humi', object_name: '전체 습도평균', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
        </ul>
    </div>
</div>
<div class="custom-panel">
    <div class="custom-panel-zone">
        <ul class="list-group custom-th-list-group">
            <% for (var i = 1; i < 17 ; i++) { %>
                <% var id = i > 9 ? i.toString() : '0' + i; %>
                <% var o_id = 'a_8_' + id + '_u'; %>
                <% var name = '8F-A ' + id + ' 상'; %>
                <%- include('./item_li', { object_id: o_id, object_name: name, link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
            <% } %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group custom-th-list-group">
            <% for (var i = 1; i < 17 ; i++) { %>
                <% var id = i > 9 ? i.toString() : '0' + i; %>
                <% var o_id = 'a_8_' + id + '_d'; %>
                <% var name = '8F-A ' + id + ' 하'; %>
                <%- include('./item_li', { object_id: o_id, object_name: name, link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
            <% } %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group custom-th-list-group">
            <% for (var i = 1; i < 17 ; i++) { %>
                <% var id = i > 9 ? i.toString() : '0' + i; %>
                <% var o_id = 'a_7_' + id + '_u'; %>
                <% var name = '7F-A ' + id + ' 상'; %>
                <%- include('./item_li', { object_id: o_id, object_name: name, link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
            <% } %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group custom-th-list-group">
            <% for (var i = 1; i < 17 ; i++) { %>
                <% var id = i > 9 ? i.toString() : '0' + i; %>
                <% var o_id = 'a_7_' + id + '_d'; %>
                <% var name = '7F-A ' + id + ' 하'; %>
                <%- include('./item_li', { object_id: o_id, object_name: name, link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
            <% } %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group custom-th-list-group">
            <% for (var i = 1; i < 17 ; i++) { %>
                <% var id = i > 9 ? i.toString() : '0' + i; %>
                <% var o_id = 'a_6_' + id + '_u'; %>
                <% var name = '6F-A ' + id + ' 상'; %>
                <%- include('./item_li', { object_id: o_id, object_name: name, link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
            <% } %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group custom-th-list-group">
            <% for (var i = 1; i < 17 ; i++) { %>
                <% var id = i > 9 ? i.toString() : '0' + i; %>
                <% var o_id = 'a_6_' + id + '_d'; %>
                <% var name = '6F-A ' + id + ' 하'; %>
                <%- include('./item_li', { object_id: o_id, object_name: name, link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
            <% } %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group custom-th-list-group">
            <% for (var i = 1; i < 17 ; i++) { %>
                <% var id = i > 9 ? i.toString() : '0' + i; %>
                <% var o_id = 'a_4_' + id + '_u'; %>
                <% var name = '4F-A ' + id + ' 상'; %>
                <%- include('./item_li', { object_id: o_id, object_name: name, link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
            <% } %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group custom-th-list-group">
            <% for (var i = 1; i < 17 ; i++) { %>
                <% var id = i > 9 ? i.toString() : '0' + i; %>
                <% var o_id = 'a_4_' + id + '_d'; %>
                <% var name = '4F-A ' + id + ' 하'; %>
                <%- include('./item_li', { object_id: o_id, object_name: name, link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
            <% } %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group custom-th-list-group">
            <% for (var i = 1; i < 17 ; i++) { %>
                <% var id = i > 9 ? i.toString() : '0' + i; %>
                <% var o_id = 'a_3_' + id + '_u'; %>
                <% var name = '3F-A ' + id + ' 상'; %>
                <%- include('./item_li', { object_id: o_id, object_name: name, link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
            <% } %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group custom-th-list-group">
            <% for (var i = 1; i < 17 ; i++) { %>
                <% var id = i > 9 ? i.toString() : '0' + i; %>
                <% var o_id = 'a_3_' + id + '_d'; %>
                <% var name = '3F-A ' + id + ' 하'; %>
                <%- include('./item_li', { object_id: o_id, object_name: name, link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
            <% } %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group custom-th-list-group">
            <% for (var i = 1; i < 17 ; i++) { %>
                <% var id = i > 9 ? i.toString() : '0' + i; %>
                <% var o_id = 'a_2_' + id + '_u'; %>
                <% var name = '2F-A ' + id + ' 상'; %>
                <%- include('./item_li', { object_id: o_id, object_name: name, link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
            <% } %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group custom-th-list-group">
            <% for (var i = 1; i < 17 ; i++) { %>
                <% var id = i > 9 ? i.toString() : '0' + i; %>
                <% var o_id = 'a_2_' + id + '_d'; %>
                <% var name = '2F-A ' + id + ' 하'; %>
                <%- include('./item_li', { object_id: o_id, object_name: name, link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
            <% } %>
        </ul>
    </div>
</div>
<div class="custom-panel">
    <div class="custom-panel-zone">
        <ul class="list-group custom-th-list-group">
            <% for (var i = 1; i < 17 ; i++) { %>
                <% var id = i > 9 ? i.toString() : '0' + i; %>
                <% var o_id = 'b_8_' + id + '_u'; %>
                <% var name = '8F-B ' + id + ' 상'; %>
                <%- include('./item_li', { object_id: o_id, object_name: name, link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
            <% } %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group custom-th-list-group">
            <% for (var i = 1; i < 17 ; i++) { %>
                <% var id = i > 9 ? i.toString() : '0' + i; %>
                <% var o_id = 'b_8_' + id + '_d'; %>
                <% var name = '8F-B ' + id + ' 하'; %>
                <%- include('./item_li', { object_id: o_id, object_name: name, link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
            <% } %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group custom-th-list-group">
            <% for (var i = 1; i < 17 ; i++) { %>
                <% var id = i > 9 ? i.toString() : '0' + i; %>
                <% var o_id = 'b_7_' + id + '_u'; %>
                <% var name = '7F-B ' + id + ' 상'; %>
                <%- include('./item_li', { object_id: o_id, object_name: name, link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
            <% } %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group custom-th-list-group">
            <% for (var i = 1; i < 17 ; i++) { %>
                <% var id = i > 9 ? i.toString() : '0' + i; %>
                <% var o_id = 'b_7_' + id + '_d'; %>
                <% var name = '7F-B ' + id + ' 하'; %>
                <%- include('./item_li', { object_id: o_id, object_name: name, link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
            <% } %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group custom-th-list-group">
            <% for (var i = 1; i < 17 ; i++) { %>
                <% var id = i > 9 ? i.toString() : '0' + i; %>
                <% var o_id = 'b_6_' + id + '_u'; %>
                <% var name = '6F-B ' + id + ' 상'; %>
                <%- include('./item_li', { object_id: o_id, object_name: name, link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
            <% } %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group custom-th-list-group">
            <% for (var i = 1; i < 17 ; i++) { %>
                <% var id = i > 9 ? i.toString() : '0' + i; %>
                <% var o_id = 'b_6_' + id + '_d'; %>
                <% var name = '6F-B ' + id + ' 하'; %>
                <%- include('./item_li', { object_id: o_id, object_name: name, link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
            <% } %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group custom-th-list-group">
            <% for (var i = 1; i < 17 ; i++) { %>
                <% var id = i > 9 ? i.toString() : '0' + i; %>
                <% var o_id = 'b_4_' + id + '_u'; %>
                <% var name = '4F-B ' + id + ' 상'; %>
                <%- include('./item_li', { object_id: o_id, object_name: name, link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
            <% } %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group custom-th-list-group">
            <% for (var i = 1; i < 17 ; i++) { %>
                <% var id = i > 9 ? i.toString() : '0' + i; %>
                <% var o_id = 'b_4_' + id + '_d'; %>
                <% var name = '4F-B ' + id + ' 하'; %>
                <%- include('./item_li', { object_id: o_id, object_name: name, link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
            <% } %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group custom-th-list-group">
            <% for (var i = 1; i < 17 ; i++) { %>
                <% var id = i > 9 ? i.toString() : '0' + i; %>
                <% var o_id = 'b_3_' + id + '_u'; %>
                <% var name = '3F-B ' + id + ' 상'; %>
                <%- include('./item_li', { object_id: o_id, object_name: name, link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
            <% } %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group custom-th-list-group">
            <% for (var i = 1; i < 17 ; i++) { %>
                <% var id = i > 9 ? i.toString() : '0' + i; %>
                <% var o_id = 'b_3_' + id + '_d'; %>
                <% var name = '3F-B ' + id + ' 하'; %>
                <%- include('./item_li', { object_id: o_id, object_name: name, link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
            <% } %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group custom-th-list-group">
            <% for (var i = 1; i < 17 ; i++) { %>
                <% var id = i > 9 ? i.toString() : '0' + i; %>
                <% var o_id = 'b_2_' + id + '_u'; %>
                <% var name = '2F-B ' + id + ' 상'; %>
                <%- include('./item_li', { object_id: o_id, object_name: name, link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
            <% } %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group custom-th-list-group">
            <% for (var i = 1; i < 17 ; i++) { %>
                <% var id = i > 9 ? i.toString() : '0' + i; %>
                <% var o_id = 'b_2_' + id + '_d'; %>
                <% var name = '2F-B ' + id + ' 하'; %>
                <%- include('./item_li', { object_id: o_id, object_name: name, link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
            <% } %>
        </ul>
    </div>
</div>
<div class="custom-panel">
    <div class="custom-panel-zone">
        <ul class="list-group custom-th-list-group">
            <%- include('./item_li', { object_id: '1f_temp', object_name: '1F 온도평균', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
            <%- include('./item_li', { object_id: '1f_humi', object_name: '1F 습도평균', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
            <% for (var i = 1; i < 13 ; i++) { %>
                <% var id = i > 9 ? i.toString() : '0' + i; %>
                <% var o_id = '1_' + id; %>
                <% var name = '1F ' + id; %>
                <%- include('./item_li', { object_id: o_id, object_name: name, link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
            <% } %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group custom-th-list-group">
            <%- include('./item_li', { object_id: 'b5f_temp', object_name: 'B5F 온도평균', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
            <%- include('./item_li', { object_id: 'b5f_humi', object_name: 'B5F 습도평균', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
            <% for (var i = 1; i < 13 ; i++) { %>
                <% var id = i > 9 ? i.toString() : '0' + i; %>
                <% var o_id = 'b5_' + id; %>
                <% var name = 'B5F ' + id; %>
                <%- include('./item_li', { object_id: o_id, object_name: name, link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'P' }) %>
            <% } %>
        </ul>
    </div>
</div>
<div class="custom-panel">
    <div class="custom-panel-zone">
        <ul class="list-group">
            <%- include('./item_li', { object_id: 'floor_8', object_name: '8F 이동', link_text: '그룹연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <%- include('./item_li', { object_id: 'floor_7', object_name: '7F 이동', link_text: '그룹연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <%- include('./item_li', { object_id: 'floor_6', object_name: '6F 이동', link_text: '그룹연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <%- include('./item_li', { object_id: 'floor_4', object_name: '4F 이동', link_text: '그룹연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <%- include('./item_li', { object_id: 'floor_3', object_name: '3F 이동', link_text: '그룹연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <%- include('./item_li', { object_id: 'floor_2', object_name: '2F 이동', link_text: '그룹연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <%- include('./item_li', { object_id: 'floor_1', object_name: '1F 이동', link_text: '그룹연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <%- include('./item_li', { object_id: 'floor_b5', object_name: 'B5F 이동', link_text: '그룹연결', clear_text: '해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
</div>