<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <title><%= title %></title>

    <!-- by shkoh 20211221: 공통 css -->
    <link rel="stylesheet" href="/component/kendoui-2021.1.119/styles/kendo.common.min.css" />
    <link rel="stylesheet" href="/component/kendoui-2021.1.119/styles/kendo.common-bootstrap.min.css" />
    <link rel="stylesheet" href="/component/kendoui-2021.1.119/styles/kendo.bootstrap.min.css" />
    
    <link rel="stylesheet" href="/component/bootstrap-3.3.5-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/component/bootstrap-3.3.5-dist/css/bootstrap-theme.min.css" />
    
    <!-- by shkoh 20211221: DateTimePicker -->
    <link rel="stylesheet" href="/component/air-datepicker/css/datepicker.css"/>
    
    <!-- by shkoh 20211221: ubiGuard css -->
    <link rel="stylesheet" href="/stylesheets/fonts.css" />
    <link rel="stylesheet" href="/stylesheets/monitoring_popup_work_history.css" />
</head>
<body data-id="<%= equipId %>">
    <div class="container-fluid">
        <div class="panel">
            <div class="panel-heading">
                <div class="custom-heading-left">
                    작업이력: <%= name %>
                </div>
                <div class="custom-heading-right">
                    <button type="button" class="btn btn-add" id="add-item" style="width: 65px"></button>
                </div>
            </div>
            <div class="panel-body">
                <div id="work-history-grid" class="custom-grid"></div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-dialog-add-item" tabindex="-2" role="dialog" aria-labelledby="modalDdialogAddItem">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">작업이력 등록</div>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <colgroup>
                            <col width="20%"/>
                            <col width="80%"/>
                        </colgroup>
                        <tbody>
                            <tr>
                                <th>작업설비</th>
                                <td><%= equipName %></td>
                            </tr>
                            <tr>
                                <th>작업일자</th>
                                <td>
                                    <input id="working-date" class="custom-date" type="text" style="width: 100%"/>
                                </td>
                            </tr>
                            <tr>
                                <th>작업분류</th>
                                <td>
                                    <div id="working-type" style="text-align: left;"></div>
                                </td>
                            </tr>
                            <tr>
                                <th>작업자</th>
                                <td>
                                    <div class="form-group form-group-sm" style="margin-bottom: 0px;">
                                        <input type="text" id="worker-name" class="form-control" style="box-sizing:border-box;" placeholder="작업자 정보" maxLength="32"/>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>작업내용</th>
                                <td>
                                    <div class="form-group form-group-sm" style="margin-bottom: 0px;">
                                        <textarea rows="10" maxlength="256" class="form-control" style="resize:none; box-sizing:border-box;" id="working-memo" placeholder="<%= equipName %> 설비에 대한 작업내용을 작성합니다.&#13;&#10;띄어쓰기 포함 256자 이내"></textarea>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="modal-btn btn btn-primary" id="btn-modal-add">등록</button>
                    <button type="button" class="modal-btn btn btn-danger" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>

    <!-- by shkoh 20211221: 공통 js -->
    <script src="/component/kendoui-2021.1.119/js/jquery.min.js"></script>
    <script src="/component/kendoui-2021.1.119/js/kendo.all.min.js"></script>
    <script src="/component/jquery-3.3.1/jquery.session.js"></script>
    <script src="/component/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
    
    <script src="/component/promise-polyfill/promise-polyfill.js"></script>
    
    <!-- by shkoh 20211221: DateTimePicker -->
    <script src="/component/air-datepicker/js/datepicker.min.js"></script>
    <script src="/component/air-datepicker/js/i18n/datepicker.kr.js"></script>
    
    <!-- by shkoh 20211221: ubiguard -->
    <script src="/javascripts/monitoring/popup/datePicker.js"></script>
    <script src="/javascripts/monitoring/popup/work_history.js"></script>
</body>