<div class="custom-panel">
    <div class="custom-panel-zone">
        <ul class="list-group">
            <li class="list-group-item custom-list-title">
                <span>냉동기 1호기</span>
            </li>
            <%- include('./item_li', { object_id: 'frmatx_1', object_name: '출구온도', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'frmat_1', object_name: '환수온도', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'frmas_1', object_name: '상태', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'frmaa_1', object_name: '경보', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <li class="list-group-item custom-list-title">
                <span>냉동기 2호기</span>
            </li>
            <%- include('./item_li', { object_id: 'frmatx_2', object_name: '출구온도', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'frmat_2', object_name: '환수온도', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'frmas_2', object_name: '상태', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'frmaa_2', object_name: '경보', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <li class="list-group-item custom-list-title">
                <span>냉동기 3호기</span>
            </li>
            <%- include('./item_li', { object_id: 'frmatx_3', object_name: '출구온도', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'frmat_3', object_name: '환수온도', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'frmas_3', object_name: '상태', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'frmaa_3', object_name: '경보', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <li class="list-group-item custom-list-title">
                <span>냉동기 4호기</span>
            </li>
            <%- include('./item_li', { object_id: 'frmatx_4', object_name: '출구온도', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'frmat_4', object_name: '환수온도', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'frmas_4', object_name: '상태', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'frmaa_4', object_name: '경보', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <li class="list-group-item custom-list-title">
                <span>냉동기 5호기</span>
            </li>
            <%- include('./item_li', { object_id: 'frmatx_5', object_name: '출구온도', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'frmat_5', object_name: '환수온도', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'frmas_5', object_name: '상태', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'frmaa_5', object_name: '경보', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
</div>
<div class="custom-panel">
    <div class="custom-panel-zone">
        <ul class="list-group">
            <li class="list-group-item custom-list-title">
                <span>냉각탑 1호기</span>
            </li>
            <%- include('./item_li', { object_id: 'ctows_1', object_name: 'FAN', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'ctowt_1', object_name: '공급온도', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'ctowtx_1', object_name: '환수온도', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'ctow_1', object_name: '상태', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'ctowa_1', object_name: '경보', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <li class="list-group-item custom-list-title">
                <span>냉각탑 2호기</span>
            </li>
            <%- include('./item_li', { object_id: 'ctows_2', object_name: 'FAN', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'ctowt_2', object_name: '공급온도', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'ctowtx_2', object_name: '환수온도', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'ctow_2', object_name: '상태', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'ctowa_2', object_name: '경보', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <li class="list-group-item custom-list-title">
                <span>냉각탑 3호기</span>
            </li>
            <%- include('./item_li', { object_id: 'ctows_3', object_name: 'FAN', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'ctowt_3', object_name: '공급온도', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'ctowtx_3', object_name: '환수온도', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'ctow_3', object_name: '상태', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'ctowa_3', object_name: '경보', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <li class="list-group-item custom-list-title">
                <span>냉각탑 4호기</span>
            </li>
            <%- include('./item_li', { object_id: 'ctows_4', object_name: 'FAN', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'ctowt_4', object_name: '공급온도', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'ctowtx_4', object_name: '환수온도', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'ctow_4', object_name: '상태', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'ctowa_4', object_name: '경보', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <li class="list-group-item custom-list-title">
                <span>냉각탑 5호기</span>
            </li>
            <%- include('./item_li', { object_id: 'ctows_5', object_name: 'FAN', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'ctowt_5', object_name: '공급온도', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'ctowtx_5', object_name: '환수온도', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'ctow_5', object_name: '상태', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'ctowa_5', object_name: '경보', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
</div>
<div class="custom-panel">
    <div class="custom-panel-zone">
        <ul class="list-group">
            <li class="list-group-item custom-list-title"><span>냉각수 순환펌프 1호기</span></li>
            <%- include('./item_li', { object_id: 'cwcp_1', object_name: '상태', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <li class="list-group-item custom-list-title"><span>냉각수 순환펌프 2호기</span></li>
            <%- include('./item_li', { object_id: 'cwcp_2', object_name: '상태', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <li class="list-group-item custom-list-title"><span>냉각수 순환펌프 3호기</span></li>
            <%- include('./item_li', { object_id: 'cwcp_3', object_name: '상태', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <li class="list-group-item custom-list-title"><span>냉각수 순환펌프 4호기</span></li>
            <%- include('./item_li', { object_id: 'cwcp_4', object_name: '상태', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <li class="list-group-item custom-list-title"><span>냉각수 순환펌프 5호기</span></li>
            <%- include('./item_li', { object_id: 'cwcp_5', object_name: '상태', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
</div>