<div class="custom-panel">
    <div class="custom-panel-zone">
        <ul class="list-group">
            <li class="list-group-item custom-list-title"><span>열교환기</span></li>
            <%- include('./item_li', { object_id: 'hexc', object_name: '열교환기', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <li class="list-group-item custom-list-title"><span>열교환기 냉수펌프</span></li>
            <%- include('./item_li', { object_id: 'hecw', object_name: '열교환기 냉수펌프', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <li class="list-group-item custom-list-title"><span>축냉조</span></li>
            <%- include('./item_li', { object_id: 'cstk', object_name: '축냉조', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <li class="list-group-item custom-list-title"><span>냉동기 냉수펌프</span></li>
            <%- include('./item_li', { object_id: 'recw', object_name: '냉동기 냉수펌프', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
</div>
<div class="custom-panel">
    <div class="custom-panel-zone">
        <ul class="list-group">
            <li class="list-group-item custom-list-title"><span>냉각탑</span></li>
            <%- include('./item_li', { object_id: 'ctow', object_name: '냉각탑', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <li class="list-group-item custom-list-title"><span>냉동기</span></li>
            <%- include('./item_li', { object_id: 'frma', object_name: '냉동기', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <li class="list-group-item custom-list-title"><span>냉각수 펌프</span></li>
            <%- include('./item_li', { object_id: 'cpum', object_name: '냉각수 펌프', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
</div>
<div class="custom-panel">
    <div class="custom-panel-zone">
        <ul class="list-group">
            <%- include('./item_li', { object_id: 'ther_8_a', object_name: '항온항습기 8F-A', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'ther_8_b', object_name: '항온항습기 8F-B', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'POP' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <%- include('./item_li', { object_id: 'ther_7_a', object_name: '항온항습기 7F-A', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'ther_7_b', object_name: '항온항습기 7F-B', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'POP' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <%- include('./item_li', { object_id: 'ther_6_a', object_name: '항온항습기 6F-A', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'ther_6_b', object_name: '항온항습기 6F-B', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'POP' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <%- include('./item_li', { object_id: 'ther_4_a', object_name: '항온항습기 4F-A', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'ther_4_b', object_name: '항온항습기 4F-B', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'POP' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <%- include('./item_li', { object_id: 'ther_3_a', object_name: '항온항습기 3F-A', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'ther_3_b', object_name: '항온항습기 3F-B', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'POP' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <%- include('./item_li', { object_id: 'ther_2_a', object_name: '항온항습기 2F-A', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'ther_2_b', object_name: '항온항습기 2F-B', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'POP' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <%- include('./item_li', { object_id: 'ther_1', object_name: '항온항습기 1F', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'ther_b5', object_name: '항온항습기 B5F', link_text: 'O', clear_text: 'X', popup_text: 'P', is_popup: 'POP' }) %>
        </ul>
    </div>
</div>