<div class="custom-panel">
    <div class="custom-panel-zone">
        <ul class="list-group">
            <li class="list-group-item custom-list-title">
                <span>축냉조 1호기</span>
            </li>
            <%- include('./item_li', { object_id: 'cstkt_1', object_name: '온도', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'cstkv_1', object_name: '밸브', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'cstks_1', object_name: '상태', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <li class="list-group-item custom-list-title">
                <span>축냉조 2호기</span>
            </li>
            <%- include('./item_li', { object_id: 'cstkt_2', object_name: '온도', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'cstkv_2', object_name: '밸브', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'cstks_2', object_name: '상태', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <li class="list-group-item custom-list-title">
                <span>축냉조 3호기</span>
            </li>
            <%- include('./item_li', { object_id: 'cstkt_3', object_name: '온도', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'cstkv_3', object_name: '밸브', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'cstks_3', object_name: '상태', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <li class="list-group-item custom-list-title">
                <span>축냉조 4호기</span>
            </li>
            <%- include('./item_li', { object_id: 'cstkt_4', object_name: '온도', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'cstkv_4', object_name: '밸브', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'cstks_4', object_name: '상태', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <li class="list-group-item custom-list-title">
                <span>축냉조 5호기</span>
            </li>
            <%- include('./item_li', { object_id: 'cstkt_5', object_name: '온도', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'cstkv_5', object_name: '밸브', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'cstks_5', object_name: '상태', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
</div>