<div class="custom-panel">
    <div class="custom-panel-zone">
        <ul class="list-group">
            <li class="list-group-item custom-list-title"><span>TR-1</span></li>
            <%- include('./item_li', { object_id: 'ups1', object_name: 'UPS1', link_text: '연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'sts1', object_name: 'STS1', link_text: '연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <li class="list-group-item custom-list-title"><span>TR-2</span></li>
            <%- include('./item_li', { object_id: 'ups2', object_name: 'UPS2', link_text: '연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'sts2', object_name: 'STS2', link_text: '연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <li class="list-group-item custom-list-title"><span>TR-3</span></li>
            <%- include('./item_li', { object_id: 'ups3', object_name: 'UPS3', link_text: '연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'sts3', object_name: 'STS3', link_text: '연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <li class="list-group-item custom-list-title"><span>TR-4</span></li>
            <%- include('./item_li', { object_id: 'ups4', object_name: 'UPS4', link_text: '연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'sts4', object_name: 'STS4', link_text: '연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <li class="list-group-item custom-list-title"><span>TR-9</span></li>
            <%- include('./item_li', { object_id: 'ups5', object_name: 'UPS5', link_text: '연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'sts5', object_name: 'STS5', link_text: '연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <li class="list-group-item custom-list-title"><span>TR-10</span></li>
            <%- include('./item_li', { object_id: 'ups6', object_name: 'UPS6', link_text: '연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'sts6', object_name: 'STS6', link_text: '연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
</div>
<div class="custom-panel">
    <div class="custom-panel-zone">
        <ul class="list-group">
            <li class="list-group-item custom-list-title"><span>발전기</span></li>
            <%- include('./item_li', { object_id: 'gener', object_name: '비상발전기', link_text: '연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
</div>