<div class="custom-panel">
    <div class="custom-panel-zone">
        <ul class="list-group">
            <%- include('./item_li', { object_id: 'dd02_out_tmp', object_name: '외기온도', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'dd02_out_hum', object_name: '외기습도', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <%- include('./item_li', { object_id: 'dd02_tc_in', object_name: '지역냉방 환수온도', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'dd02_tc_out', object_name: '지역냉방 공급온도', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
</div>
<div class="custom-panel">
    <div class="custom-panel-zone">
        <ul class="list-group">
            <li class="list-group-item custom-list-title">
                <span>열교환기 1호기</span>
            </li>
            <%- include('./item_li', { object_id: 'hecwpt_1', object_name: '공급온도', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'hecwt_1', object_name: '환수온도', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'hecw_1', object_name: '냉수자동밸브 1-1번', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'hecwp_1', object_name: '펌프상태', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <li class="list-group-item custom-list-title">
                <span>열교환기 2호기</span>
            </li>
            <%- include('./item_li', { object_id: 'hecwpt_2', object_name: '공급온도', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'hecwt_2', object_name: '환수온도', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'hecw_2', object_name: '냉수자동밸브 1-1번', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'hecwp_2', object_name: '펌프상태', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <li class="list-group-item custom-list-title">
                <span>열교환기 3호기</span>
            </li>
            <%- include('./item_li', { object_id: 'hecwpt_3', object_name: '공급온도', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'hecwt_3', object_name: '환수온도', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'hecw_3', object_name: '냉수자동밸브 1-1번', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'hecwp_3', object_name: '펌프상태', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <li class="list-group-item custom-list-title">
                <span>열교환기 4호기</span>
            </li>
            <%- include('./item_li', { object_id: 'hecwpt_4', object_name: '공급온도', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'hecwt_4', object_name: '환수온도', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'hecw_4', object_name: '냉수자동밸브 1-1번', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'hecwp_4', object_name: '펌프상태', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
    <div class="custom-panel-zone">
        <ul class="list-group">
            <li class="list-group-item custom-list-title">
                <span>열교환기 5호기</span>
            </li>
            <%- include('./item_li', { object_id: 'hecwpt_5', object_name: '공급온도', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'hecwt_5', object_name: '환수온도', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'hecw_5', object_name: '냉수자동밸브 1-1번', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
            <%- include('./item_li', { object_id: 'hecwp_5', object_name: '펌프상태', link_text: '설비연결', clear_text: '연결해제', popup_text: '팝업', is_popup: 'POP' }) %>
        </ul>
    </div>
</div>